<a href="https://colab.research.google.com/github/Luan-Felipe-R-Sanches/Exercicios_python/blob/main/1_fundamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Comentário

In [ ]:
'''
Comentario
Comentario
'''

In [ ]:
print("Olá mundo")
print(10)
print(20.5)

Olá mundo
10
20.5

In [ ]:
print("Maça", 20, 30.45)

Maça 20 30.45

In [ ]:
print("Maça", "Pera","Uva", sep=' - ')

Maça - Pera - Uva

In [ ]:
print("Maça", "Pera", end = ' Fim ', sep=' ')

Maça Pera Fim

In [ ]:
print("Este é um texto longo, \n eu quero quebrar a linha")

Este é um texto longo,
 eu quero quebrar a linha

In [ ]:
print("Maça", "Pera", sep='\n')

Maça
Pera

In [ ]:
print("A pontuação total de de %s foi %s pontos" % ("Luan","10"))

A pontuação total de de Luan foi 10 pontos

In [ ]:
print("A pontuação total de {} foi {} pontos".format("Luan", "10"))

A pontuação total de Luan foi 10 pontos

In [ ]:
print("A pontuação total de" + " Luan" + " foi" + " 10" + " pontos")

A pontuação total de Luan foi 10 pontos

In [ ]:
# Atividades
'''
1 - Realize o print do seu nome completo, sua idade e sua altura utilizando
um print para cada valor.
2 - Realize o print do seu nome completo, sua idade e sua altura utilizando
apenas um print para todos valores.
3 - Realize o print de 3 números de sua escolha em um mesmo print,
mas separados pelo caractere '-'.
'''

print("Luan")
print(29)
print(1.80)

print("Luan", 29, 1.80)

print(30, 50, 88, sep='-')

Luan
29
1.8
Luan 29 1.8
30-50-88

# **Variáveis**

In [ ]:
_numero = 1
Numero = 2
numero = 3
numemro1234 = 4
print(_numero, Numero, numero, numemro1234)

1 2 3 4

In [ ]:
inteiro = 10
print(inteiro)

10

In [ ]:
decimal = 1.53
print(decimal)

1.53

In [ ]:
texto = "Texto"
print(texto)

Texto

In [ ]:
var = True
print(var)
var = False
print(var)

True
False

In [ ]:
var1 = 10
var2 = var1
print(var2)

10

In [ ]:
var = None
print(var)
var = 1
print(var)
var = "Texto"
print(var)

None
1
Texto

In [ ]:
# padrão camel case
saldoBancario = 100

# padrão pascal case
SaldoBancario = 100

# padrão snake case
saldo_bancario = 100

# **Formatação de Texto**

In [ ]:
'''
%$ texto
%d inteiro
%f real
'''

In [ ]:
nome = "Carolina"
texto_formatado = "O nome dela é %s " % (nome)
print(texto_formatado)

O nome dela é Carolina

In [ ]:
nome = "Luan"
idade = 29
altura = 1.80
texto = "Meu nome é %s, tenho %d anos e minha altura é %.2f" % (nome, idade, altura)
print(texto)

Meu nome é Luan, tenho 29 anos e minha altura é 1.80

In [ ]:
numero_gigante = 1.23456789
print("Número gigante formatado: %.2f" % numero_gigante)

Número gigante formatado: 1.23

In [ ]:
valor = True
print("O valor é %s" % (valor))
print("O valor é %d" % (valor))

O valor é True
O valor é 1

In [ ]:
decimal = 23.4566
print("A parte inteira é %d" % (decimal))

A parte inteira é 23

# **Formatação com Caracteres Especiais**

In [3]:
texto = "Olá, assim se \n\t quebra uma linha,\nentendeu? "
print(texto)

Olá, assim se
	quebra uma linha,
entendeu?

In [4]:
texto = 'Deixe a \'palavra\' entre aspas'
texto = "Deixe a palavra entre aspas"

# **Atividades**

In [ ]:
'''
1 - Escreva e formate a data em que você nasceu no formato dia/mês/ano. Não
 esqueça de criar 3 variáveis para guardar o dia, mês e ano.

Exemplo de saída:
Eu nasci em 30/9/1998

2 - Escreva e formate a hora e minuto atual. Não esqueça de criar duas variáveis
 para guardar a hora e minuto.

Exemplo de saída:
Agora são 22 horas e 37 minutos

3 - Escreva um programa que contém o número PI, que deve ter o valor exato de
3.14159265359. Agora formate esse número para ter apenas cinco casas decimais.

Exemplo de saída:
O PI é 3.14159
'''

In [11]:
dia = 25
mes = 8
ano = 1995

print(f"{dia}/{mes}/{ano}")

25/8/1995

In [21]:
horas = 12
minutos = 36

print(f"Agora são {horas} horas e {minutos} minutos")
print("Agora são %d horas e %d minutos" % (horas, minutos))

Agora são 12 e 36 minutos
Agora são 12 horas e 36 minutos

In [22]:
pi = 3.14159265359
print(f"{pi:.5f}")

pi_formatado = 'O PI é normalmente exibido com %.5f' % (pi)
print(pi_formatado)

3.14159
O PI é normalmente exibido com 3.14159

# **Operadores Aritméticos**

In [ ]:
'''
Ordem de Prioridade - Operadores

1 - (exponenciação)

2 - (multiplicação)

3 - / (divisão)

4 - % (resto da divisão ou mod)

5 - // (divisão inteira)
'''

# **Exemplos de Ordem de Prioridade**

In [23]:
num1 = 10 * (2 + 1)
print(num1)

30

In [24]:
num1 = 3 * (3 - 9)
print(num1)

-18

# **Atividades sobre Operações Aritméticas**

In [ ]:
'''
1 - Crie um programa que possui duas variáveis, uma recebe o ano em que
estamos e a outra o ano em que você nasceu. Em seguida subtraia ambas
para receber uma estimativa de quantos anos você tem. Mostre esse valor
na saída do programa.

2 - Crie um programa que faz a média aritmética entre três números.
Estes números devem ser salvos em uma variável. Mostre esse valor na
saída do programa.

3 - Crie um programa que calcule o IMC (índice de massa corporal).
O IMC é dado pelo peso em KG divido pela altura em metros elevado
ao quadrado. Salvar esses valores em uma variável. Mostre esse valor na saída do programa.

4 (Desafio) - Você tem um determinado números de ovos de páscoa para dividir
entre um determinado número de pessoas (duas variáveis iniciais). Determine
quantos ovos ficarão por pessoa e quantos ovos sobrarão pois não puderam ser
divido igualmente. Lembre o número de ovos por pessoa é um número inteiro'''

In [25]:
ano_atual = 2025
ano_nascimento = 1995

print(ano_atual - ano_nascimento)

30

In [27]:
nota_1 = 7.5
nota_2 = 9.5
nota_3 = 6.8

media = (nota_1 + nota_2 + nota_3) / 3
print(media)

7.933333333333334

In [28]:
peso = 99
altura = 1.80
imc = peso / (altura ** 2)
print(imc)

30.555555555555554

In [30]:
ovos = 4
pessoas = 6

ovos_por_pessoa = ovos // pessoas
ovos_sobra = ovos % pessoas

print(ovos_por_pessoa)
print(ovos_sobra)

0
4