<a href="https://colab.research.google.com/github/Luan-Felipe-R-Sanches/Exercicios_python/blob/main/3_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LIST**

In [ ]:
array = []
array = list()

array_numeros = [1,2,3]
array_floats = [56.3, -2.2, 0.5]
array_srt = ["A","B","C"]
array_misto = [2,22.3, "ABC"]

In [ ]:
array = list([1,2,3])
print(array)
primeiro_elemento = array[0]
print(primeiro_elemento)
array[0] = 20
primeiro_elemento = array[0]
print(primeiro_elemento)

[1, 2, 3]
1
20

In [ ]:
array = [1, "texto", 3]
print(array[1:3])

In [ ]:
array = [10,2,3]
print(array)
array.append(2)
print(array)
array.insert(2,"4")
print(array)

[10, 2, 3]
[10, 2, 3, 2]
[10, 2, '4', 3, 2]

In [ ]:
array = [10,2,3,20,"3"]
array.remove(10)
print(array)
array.pop(2)
print(array)

[2, 3, 20, '3']
[2, 3, '3']

In [ ]:
print(len(array))

3

In [ ]:
array.clear
print(array)

In [ ]:
array = [1, 'teste', 1.3, True]
print(1 in array)
print(False not in array)

True
True

In [ ]:
lista = [5,6,7,2,3,4,7]
teste = lista.count(7)
print(teste)

In [ ]:
lista = [5,6,7,2,3,4,7]
pos = lista.index(7)
print(pos)

2

In [ ]:
array1 = [1,2,3]
array2 = [3,4,5]
soma = array1 + array2
print(soma)

[1, 2, 3, 3, 4, 5]

In [ ]:
numeros = ["um", "dois", "tres"]
x,y,z = numeros
print(x)
print(y)
print(z)

In [ ]:
cores = ["vermelho", "azul", "verde"]
for i in range(0,len(cores)):
  print(cores[i])

vermelho
azul
verde

In [ ]:
cores = ["azul", "preto","amarelo"]
indice = 0
while indice < len(cores):
  print(cores[indice])
  indice += 1

azul
preto
amarelo

In [ ]:
lista = [[1,2,3], [4,5,6]]
primeira_lista = lista[0]
segunda_lista = lista[1]
print(primeira_lista)
print(segunda_lista)
primeiro_elemento_primeira_lista = lista[1][1]
print(primeiro_elemento_primeira_lista)

[1, 2, 3]
[4, 5, 6]
5

# **SET**

In [ ]:
lista_set = {}
lista2_set = {1,2,3}
lista3_set = set({1,2,3})
print(lista_set)
print(lista2_set)
print(lista3_set)

{}
{1, 2, 3}
{1, 2, 3}

In [ ]:
lista2_set = {1,2,3}
lista2_set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
lista2_set = {1,2,3}
lista2_set[0] = 2

TypeError: 'set' object does not support item assignment

In [ ]:
list_set = {1,2,3,4}
print(5 in list_set)

False

In [ ]:
list_set = {1,2,3,'4', True, 6.1}
for item in list_set:
  print(item)

1
2
3
4
6.1

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_unido = set1.union(set2)
print(set_unido)

{1, 2, 3, 4}

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_inser = set1.intersection(set2)
print(set_inser)

{1, 2, 3}

In [ ]:
set1 = {1,2,3}
set2 = {1,2,3,4}
set_dif = set2.difference(set1)
print(set_dif)

{4}

# **TUPLE**

In [1]:
doces = ('Chocolate', 'Bom bom' , 'paçoca')
print(doces)

('Chocolate', 'Bom bom', 'paçoca')

In [2]:
nums = (1,2,3,4,5,6,7,8)
sub_tuplas = nums[2:4]
print(sub_tuplas)

(3, 4)

In [3]:
nums = (1,2,3,4,5,6,7,8)
print(9 in nums)

False

In [4]:
tupla = tuple((10,20,40))
tupla[0] = 20

TypeError: 'tuple' object does not support item assignment

In [5]:
tupla = (6,7,8,9,10,6,6)
print(tupla.count(6))

3

In [6]:
tupla = (5,'3',True, 7234)
pos = tupla.index('3')
print(pos)

1

In [7]:
tupla = (5,'3',True, 7234)
for x in tupla:
  print(x)

5
3
True
7234

In [10]:
tupla = (5,'3',True, 7234)
for i in range (0, len (tupla)):
  print(tupla[i])

5
3
True
7234

In [11]:
tupla = (5,'3',True, 7234)
indice = 0
while(indice < len(tupla)):
  print(tupla[indice])
  indice += 1

5
3
True
7234

In [12]:
numeros_set = (1,2,3)
numeros_lista = list(numeros_set)
numeros_lista[0] = 12
numeros_lista.append("Fim")
numeros_set = tuple(numeros_lista)
print(numeros_set)

(12, 2, 3, 'Fim')